{% extends "base.html" %}

{% block title %}Change Password | EOBI Certificate Tracker{% endblock %}

{% block content %}
<div class="change-box">
    <h2>Change Password</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="msg" style="color: red; text-align:center;">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <label for="password1">New Password</label>
        <input type="password" id="password1" name="password1" placeholder="Enter new password" required>

        <label for="password2">Repeat New Password</label>
        <input type="password" id="password2" name="password2" placeholder="Repeat new password" required>

        <button type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
